<!-- BEGIN: main -->
<table class="mainTable">
    <thead class="tHeader">
	<th class='tHeaderDes'>Seleccione la {MOVIMIENTO_TIPO} a Reversar</th>	
	<th class='tHeaderX' title="Cerrar" onclick="closePickList();">X</th>        
    </thead>
    <tbody>
        <tr>
            <td colspan=2>
<table id="id_table_0"  width="100%" border=0 class='tabla_grid'     style="position:relative;"  > 
                <thead>
                    <th class='' width="25%">Número de {MOVIMIENTO_TIPO}</th>
                    <th class='' width="25%">Fecha de {MOVIMIENTO_TIPO}</th>
                    <th class='' width="25%">Descripción de Soporte</th>
                    <th class='' width="25%">Número de Soporte</th>
                </thead>
                <tbody title="Seleccione...">
                    <!-- BEGIN: nivel_0 --> 
		    <tr id="{ID}" onclick="selectItem(this);"> 
		        <td align="center" width="25%">{MOVIMIENTO_NUM}</td>
			<td align="center" width="25%">{MOVIMIENTO_FEC}</td>
                        <td align="center" width="25%">{DES_SOPORTE_TIPO}</td>
                        <td align="leftcenter" width="25%">{SOPORTE_NUM}</td>
		    </tr>
                    <!-- END: nivel_0 -->
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table> 

        

<input class="data"  type="hidden" name="abc" id="abc"  value="">
<input class="data"  type="hidden" name="ciudad" id="id_ciudad"  value="">
 <!--img class="pickListImgClose" 
                 src="../../img/cerrar.png" 
                 title="Cerrar" 
                 onclick="closePickList()"-->
<!-- END: main -->
