<!-- BEGIN: main -->
<div id="sub_titulo">Existencia de Almacén</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Presentacion</th>
            <th>Entradas</th>
            <th>Salidas</th>
            <th>Reverso Entradas</th>
            <th>Reverso Salidas</th>
            <th>Existencia Actual</th>
            <!--th>Existencia Mínima</th>
            <th>Existencia Máxima</th-->
            <!--th>Acción(es)</th-->
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{CATEGORIA} / {PRODUCTO} {MARCA}</td>
            <td>{PRESENTACION}</td>
            <td align="right">{ENTRADAS}</td>
            <td align="right">{SALIDAS}</td>
            <td align="right">{REVERSO_ENTRADAS}</td>
            <td align="right">{REVERSO_SALIDAS}</td>
            <td align="right">{TOTAL}</td>
            <!--td align="right">345345353434535</td>
            <td align="right">345345345345345</td-->
            <!--td align="center">
                {BUTTON_SEARCH}
            </td-->
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
