.mainTable{

	border:none;
	width:100%;
	font-family: sans-serif; 
}

.tHeader{

    background: #558b2f;
    top:0;  
    width:100%;
}

.tHeaderDes{    
    width:97%; 
    font-size:100%;
    font-weight: normal; 
    background: #558b2f;
    color:#fff;
    z-index:2001;
    border: 0px solid #000000;
}

.tHeaderX{ 
    font-size:100%;
    font-weight: bold;
    background: #558b2f;
    color:#fff;
    cursor: pointer;
    z-index:2001;
    border: 0px solid #fff;
}


