<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/calendar.js"></script>
<div id="sub_titulo">Cierre Diario</div>
{BUTTON_ADD}
<fieldset id='mi_filtro'>
<legend id='legend_filtro' style="cursor:pointer;float:right;" title="Ocultar/Mostrar Filtro.">Filtro:</legend>

<table id="tab_mi_filtro" width="100%" style="display:none;">
    <tr>
        <td align="right" valign="top">
           <fieldset id='mi_filtro_agregar'>
                <legend><strong>Día(s) Cerrados:</strong></legend>

        <table class="tabla_grid">
            <tr>                
                <td>
                    <label>Desde</label>
                    <input id="id_cierre_dia_desde"
                           name="cierre_dia_desde"
                           type="text"
                           autocomplete="off"
                           style="width: 100%;"
                           readonly
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{CIERRE_DIA_DESDE}">
                    <script>
                        Calendar.setup({
                            inputField    : "id_cierre_dia_desde",
                            ifFormat      : "%d/%m/%Y",
                            button        : "id_cierre_dia_desde",
                            align         : "Tr"
                        });
                    </script>
                </td>               
                <td>
                    <label>Hasta</label>
                    <input id="id_cierre_dia_hasta"
                           name="cierre_dia_hasta"
                           type="text"
                           autocomplete="off"
                           style="width: 100%;"
                           readonly
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{CIERRE_DIA_HASTA}">
                    <script>
                        Calendar.setup({
                            inputField    : "id_cierre_dia_hasta",
                            ifFormat      : "%d/%m/%Y",
                            button        : "id_cierre_dia_hasta",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>       
        </table>



            </fieldset>
            </td>
        </tr>
    </table>
</fieldset>

<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Cierre</th>
            <th>Producto</th>
            <th>Presentacion</th>
            <th>Acumulado</th>
            <th>Entradas</th>
            <th>Salidas</th>
            <th>Reverso Entradas</th>
            <th>Reverso Salidas</th>
            <th>Existencia al Cierre</th>
            <!--th>Existencia Mínima</th>
            <th>Existencia Máxima</th-->
            <!--th>Acción(es)</th-->
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{CIERRE}</td>
            <td>{CATEGORIA} / {PRODUCTO} ({MARCA})</td>
            <td>{EMPAQUE_DES}</td>
            <td align="right">{ACUMULADO}</td>
            <td align="right">{ENTRADAS}</td>
            <td align="right">{SALIDAS}</td>
            <td align="right">{REVERSO_ENTRADAS}</td>
            <td align="right">{REVERSO_SALIDAS}</td>
            <td align="right">{TOTAL}</td>
            <!--td align="right">345345353434535</td>
            <td align="right">345345345345345</td-->
            <!--td align="center">
                {BUTTON_SEARCH}
            </td-->
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
