<!-- BEGIN: main -->
<div id="sub_titulo">Registros de {MOV_TYPE_LABEL}s</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Número</th>
            <th>Fecha</th>
            <!--th>Tipo</th-->
            <th>Soporte</th>
            <th>Número</th>
            <!--th>Fecha de Soporte</th>
            <th>Sujeto</th>
            <th>Descripcion</th>
            <th>Observacion</th-->
            <!--th>Fecha de Cierre</th-->
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{MOVIMIENTO_NUM}</td>
            <td>{MOVIMIENTO_FEC}</td>
            <!--td>{DES_MOVIMIENTO_TIPO}</td-->
            <td>{DES_SOPORTE_TIPO}</td>
            <td>{SOPORTE_NUM}</td>
            <!--td>{SOPORTE_FEC}</td>
            <td>{SUJETO}</td>
            <td>{DESCRIPCION}</td>
            <td>{OBSERVACION}</td>
            <td>{CIERRE_FEC}</td-->
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
