<!-- BEGIN: main -->
<style>
.div-simulating-a-input{
  width: 100%;
  padding: 12px 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  text-align:right;
}
</style>
<div  align="center">
    <!--div id="sub_titulo">Detalle(s) del Movimiento</div-->
    <div>
        <table style="cursor:pointer;display:{IS_REVERSE_THEN_DISPLAY_NONE};" onclick="MovimientoAux.onOffPanel();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_movimiento_aux" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_movimiento_aux" style="display: none;">
        <input id="id_movimiento_aux" name="id_movimiento_aux" value="0" type="hidden">
        <table class="tabla_grid" style="width: 90%">
            <tr>
                <th colspan="3">Detalle del Movimiento</th>
            </tr>
            <tr>
                <td width="60%"><label>Presentación</label>
                    <input type="hidden"
                           name="id_presentacion"
                           id="id_presentacion"
                           value=""/>
                    <textarea id="presentacion"
                           name="presentacion"
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value=""
                           onclick="pickOpen('presentacion',
                                     'id_presentacion',
                                     '../../../{MYAPP2}/pickList/control/presentacion/', 75, 75, 150, 30, 'si');"></textarea>


                </td>
                <td width="30%"><label>Cantidad</label>
                    <input id="cantidad"
                           name="cantidad"
                           type="text"
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{CANTIDAD}">
                </td>
                <td width="10%"><label>Existencia</label>
                    <div class="div-simulating-a-input" id=div_existencia></div>                
                </td>
            </tr>
        </table>
        <br/>
        <button id="addReg" type="button" onClick="MovimientoAux.valEnvio();">
            <img class="accion" src="../../../{APPORG}/img/add.png" align="absmiddle" border="0" > Agregar
        </button>
        <br/><br/>
    </div>
    <table id="id_tab_movimiento_aux" class="tabla_grid" width="100%">
        <thead>
            <tr>
                <th>Presentación</th>
                <th>Cantidad por Presentacion</th>
                <th>Cantidad por Unidad</th>
                <th style="display:{IS_REVERSE_THEN_DISPLAY_NONE};">Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_movimiento_aux -->
            <tr id={ID} class={CLASS_TR}>
                <td id={ID_PRESENTACION}>{DES_PRESENTACION}</td>
                <td>{CANTIDAD_X_PRESENTACION}</td>
                <td>{CANTIDAD_X_UNIDAD}</td>
                <td style="display:{IS_REVERSE_THEN_DISPLAY_NONE};">
                    <img class="accion"
                        src="../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="MovimientoAux.edit(this);valBtnClose();">
                    <img class="accion"
                        src="../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="MovimientoAux.rqsRemove({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_movimiento_aux -->
        </tbody>
    </table>
    <input  id="str_arr_table" name="str_arr_table" type="hidden" value="">
</div>
<!-- END: main -->
