<!-- BEGIN: main -->
    <div align="center">
        <table class="tabla_grid" style="width: 90%">
            <tr>
                <th colspan="4">Datos Básicos de {MOV_TYPE_LABEL}</th>
            </tr>
            <tr>
                <td width="25%"><label>Tipo de Movimiento</label>
                    <select id="id_movimiento_tipo" name="id_movimiento_tipo" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: movimiento_tipo -->
                        <option value={ID_MOVIMIENTO_TIPO} {SELECTED_MOVIMIENTO_TIPO}>{DES_MOVIMIENTO_TIPO}</option>
                        <!-- END: movimiento_tipo -->
                    </select>
                </td>
                <td width="25%"><label>Tipo de Soporte</label>
                    <select id="id_soporte_tipo" name="id_soporte_tipo" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: soporte_tipo -->
                        <option value={ID_SOPORTE_TIPO} {SELECTED_SOPORTE_TIPO}>{DES_SOPORTE_TIPO}</option>
                        <!-- END: soporte_tipo -->
                    </select>
                </td>
                <td width="25%"><label>Número de Soporte</label>
                    <input type="hidden"
                           name="id_soporte_num"
                           id="id_soporte_num"
                           value=""/>
                    <input id="soporte_num"
                           name="soporte_num"
                           type="text"
                           autocomplete="off"
                           style="width: 100%;"
                           {PICKOPEN}
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{SOPORTE_NUM}">
                </td width="25%">
                    <td><label>Fecha de Soporte</label>
                    <input id="id_soporte_fec"
                           name="soporte_fec"
                           type="text"
                           autocomplete="off"
                           style="width: 100%;"
                           {IS_REVERSE_THEN_READONLY}
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{SOPORTE_FEC}">
                    <script>
                        Calendar.setup({
                            inputField    : "id_soporte_fec",
                            ifFormat      : "%d/%m/%Y",
                            button        : "id_soporte_fec",
                            align         : "Tr"
                        });
                    </script>
                </td>                
            </tr>
            <tr>
            <td width="50%" colspan="2"><label>Sujeto</label>
                    <input id="sujeto"
                           name="sujeto"
                           type="text"
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{SUJETO}">
                </td>
                <td width="50%" colspan="2"><label>Descripción</label>
                    <textarea id="descripcion"
                              name="descripcion"
                              style="width: 100%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{DESCRIPCION}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4"><label>Observación</label>
                    <textarea id="observacion"
                              name="observacion"
                              style="width: 100%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              {IS_REVERSE_THEN_READONLY}
                              data-validation="textarea">{OBSERVACION}</textarea>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->
