<!-- BEGIN: main -->
<script src="../../../{FDSOIL}/js/calendar.js"></script>
<form action="" name="form" method="POST">
    <input type="hidden" name="id" id="id" value='{ID}'>
    <div id='sub_titulo'></div>
    <div align="center">
        <table class="tabla_grid" style="width: 30%">
            <tr>
                <th colspan="1">Día(s) Pendiente(s) por Cerrar</th>
            </tr>
            <tr>                
                <td>
                    <label>Desde</label>
                    <input id="id_cierre_dia_desde"
                           name="cierre_dia_desde"
                           type="text"
                           autocomplete="off"
                           style="width: 100%;"
                           readonly
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{CIERRE_DIA_DESDE}">
                    <script>
                        Calendar.setup({
                            inputField    : "id_cierre_dia_desde",
                            ifFormat      : "%d/%m/%Y",
                            button        : "id_cierre_dia_desde",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>     
            <tr>                
                <td>
                    <label>Hasta</label>
                    <input id="id_cierre_dia_hasta"
                           name="cierre_dia_hasta"
                           type="text"
                           autocomplete="off"
                           style="width: 100%;"
                           readonly
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{CIERRE_DIA_HASTA}">
                    <script>
                        Calendar.setup({
                            inputField    : "id_cierre_dia_hasta",
                            ifFormat      : "%d/%m/%Y",
                            button        : "id_cierre_dia_hasta",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>       
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
